/* Google Font Link */
.mydivouter{
	position:relative;
	background: #f90;
    width: 200px;
    height: 120px;
    margin: 0 auto;
}

.mybuttonoverlap{
	position: absolute;
    z-index: 2;
    top: 44px;
    display: none;
    left: 59px;	
}
.mydivouter:hover .mybuttonoverlap{ 
	display:block;
}