.Dashboard {
    margin: 0;
    
    
    min-height: 100vh;
  
    background-color:  #636ee6;
  
    font-size: 16px;
    
    display: grid;
    grid-template-columns: 0.5fr repeat(4, 1fr);
    grid-template-rows: 0.5fr repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.SideBar{
    grid-area: 1 / 1 / 6 / 2;
    background-color: whitesmoke;
    width:18.75em;
    margin: 1.25rem;
    border-radius: 3.125rem;
    align-items: center;
}


.SideBarHide{
    display: None;
}

.info {
    grid-area: 1 / 2 / 2 / 6;
    background-color: whitesmoke;
    margin: 1.25rem;
    height: 10vh;
    border-radius: 3.125rem;
    align-items: center;
}

.Biginfo{
    grid-area: 1 / 1 / 2 / 6;
    background-color: whitesmoke;
    margin: 1.25rem;
    height: 10vh;
    border-radius: 3.125rem;
    align-items: center;
}

.img {
    grid-area: 1 / 1 / 2 / 2;  
}

.img-fluid2 {
    max-width: 100%;
    height: 5vh;
    padding: 0.5em;
    margin: 2em;
}

hr{
    position: relative; 
    height: 0.3125rem; 
    background: black; 
    color: black;
    
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}


.ContainerBoton{
    display:flex;
    place-items: center;
}

.boton {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1.25rem;
}

.boton:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.space { 
    grid-area: 2 / 2 / 6 / 6; 
    background-color: whitesmoke;
    margin: 1.25rem;
    border-radius: 3.125rem;
}


