.Dashboard {
    margin: 0;
    
    
    min-height: 100vh;
    background-color:#e0e0e0;
    font-size: 16px;
    
    display: grid;
    grid-template-columns: 0.5fr repeat(4, 1fr);
    grid-template-rows: 0.5fr repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.dashboardContainer{
  margin: 0;
    
    
  min-height: 100vh;
  background-color:#e0e0e0;
  font-size: 16px;

}

.sidebar {
    position : absolute;
    left: -7vw;
    width: 6vw;
    transition: left 1s ease-in-out;
    background-color: #8293EB;
    margin-top: 1.25rem;
    margin-bottom: 7.5rem;
    border-radius: 1rem;
    opacity: 90%;
    margin-top:12%;
  }

  .sidebar.open {
    left: 2vw;
    border-radius: 1rem;
  }



.info {
    position: absolute;
    left: 10vw;
    width: 88%;
    margin: 1.25rem;
    height: 9vh;
    border-radius: 1rem;
    align-items: center;
    transition: left 1s ease-in-out;
}

.Biginfo{
    position: absolute;
    left: 2vw;
    width: 96%;
    margin: 1.25rem;
    height: 9vh;
    border-radius: 1rem;
    transition: left 1s ease-in-out;
}

.space { 

  margin: 1.25rem;
  border-radius: 1rem;
  background-color: white;
  position: absolute;
  left: 10vw;
  width: 88%;
  top: 10vh;
  transition: left 1s ease-in-out;
  height: 87vh;
}

.BigSpace{
  margin: 1.25rem;
  border-radius: 1rem;

  position: absolute;
  left: 2vw;
  width: 96%;
  top: 10vh;
  height: 87vh;
  transition: left 1s ease-in-out;
}


.img {
    grid-area: 1 / 1 / 2 / 2;  
}

.img-fluid2 {
    max-width: 80%;
    margin: 0.5em
}
div.divisor{
  position: relative; 
  height: 0.3125rem; 
  background: #e0e0e0; 
  color: #e0e0e0;
  width:100%;
  margin-top: 1vh;
}


.ContainerBoton{
    display:flex;
    place-items: center;
}

.boton1 {

  background-color: #8293EB;

  box-sizing: border-box;
  color: #e0e0e0;
  cursor: pointer;

  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 700;

  outline: none;

  transition: box-shadow .2s,-webkit-box-shadow .2s;

  border: 0;
  margin: 1vh;
  top : 5vh;
  height: 5vh;
  width: 100px;
}

.boton1:focus{
  color:black;
  width: 100%;
}

.botonInfoContainer{
  position:absolute;
  top : 14vh;
  left : 4vw;
  height: 5vh;
  width: 5vw;
  transition: 1s ease-in-out;  
}

.botonInfoContainer2{
  margin-left: 7vh;
  width: 5vw;
  position:absolute;
  top : 14vh;
}

.botonInfo{
  
  align-items: center;
  background-color: #8293EB;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  
  border: 0;
  user-select: none;
  display:None;
  border-top-right-radius: 2.5em 2.5em;
  border-bottom-right-radius: 2.5em 2.5em;

  animation-duration: 2s;
  animation-iteration-count: 1;
  transform-origin: bottom;
}

.botonInfo2{
  

  background-color: #8293EB;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  
  border: 0;
  user-select: none;
  border-top-right-radius: 2.5em 2.5em;
  border-bottom-right-radius: 2.5em 2.5em;

}

.botonInfoContainer:hover .botonInfo{ 
	display:block;
  animation-name: bounce;
  animation-timing-function: ease;
}

.botonInfoContainer2:hover .botonInfo{ 
	display:block;
}

@keyframes bounce {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

.botonExitContainer{
  z-index:1;
}



.botonExit{
  
  align-items: center;
  background-color: rgb(235, 69, 69);
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1.25rem;
  border-radius: 40%;
}

.botonNext{
  
  align-items: center;
  background-color: rgb(69, 160, 235);
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1.25rem;
  border-radius: 40%;
}

.infoContainer{

    display: grid;
    grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

